// FONT
$font-family: Helvetica, Arial, sans-serif;
$line-height: 1.5;
$font-weight: 400;

// COLORS
$primary-background-color: #0b132b;
$font-color: rgba(255, 255, 255, 0.87);
$secondary-background-color: #1C2541;
$light-blue: #6FFFE9; 
$button-font-color: #0b132b;
$button-background-color: rgba(255, 255, 255, 0.87);
