@import "src/styles/variables";

.detail-card {
	width: 100%;
	min-height: 50%;
	height: fit-content;

	background: linear-gradient(180deg, rgba(28,37,65,1) 35%, rgba(58,80,107,1) 100%);
	border-radius: 0.5em;
	padding: 1.5em;
	box-sizing: border-box;
	backdrop-filter: blur(8px);

	display: flex;
	gap: 5em;

	@media (max-width: 768px) {
		flex-direction: column;
		height: auto;
	}

	&__image {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 20%;
		min-width: 18rem;

		@media (max-width: 768px) {
			width: 100%;
			min-width: 10rem;
		}
	}

	&__info {
		flex: 1;

		> h1 {
			font-size: 2rem;
			text-align: center;
		}

		&--list {
			display: flex;
			width: 100%;

			@media (max-width: 992px) {
				flex-direction: column;
			}

			> div {
				flex: 1;
			}
		}

		&__residents--list {
			column-count: 4;
			column-gap: 1.5rem;

			@media (max-width: 1200px) {
				column-count: 3;
			}
		
			@media (max-width: 992px) {
				column-count: 2;
			}

			@media (max-width: 768px) {
				column-count: 1;
			}
		}
	}
}